<div class="block-title">
  <h1>Happy Birthday</h1>
  <p>Fara Jeanbart (@kim)</p>
</div>


<div class="wishes">
  <p>Je t'ai déjà tout dit, tout écrit... </p>
  <p>Mais pourra-t-on jamais vraiment finir d'exprimer combien une personne est importante pour nous?</p>
  <p>En ton jour spécial...</p>
  <p>J'aimerais te rappeler combien je suis heureux de t'avoir comme amie.</p>
  <p>Tu es toujours là dans les moments les plus sombres.</p>
  <p>Et tu célèbres mes victoires comme si c'était les tiennes.</p>
  <p>Je suis devenu addicté à ta présence, à ton aura.</p>
  <p>Tu es ce soleil qui est éternellement au zénith de ma vie</p>
  <p>Ce chemin qui ramène toujours à la maison.</p>
  <p>Un havre d’amitié, d'amour et de paix.</p>
  <p>Happy Birthday to you my dear friend!</p>
</div>
<canvas id="birthday"></canvas>
